[Unit]
Description=Scraper de precios de notebooks (MercadoLibre)
After=network-online.target
Wants=network-online.target

StartLimitIntervalSec=1d
StartLimitBurst=20

[Service]
Type=oneshot
User=valen
EnvironmentFile=/home/valen/scraper/env.conf
ExecStart=/bin/sh /home/valen/scraper/ml_scraper/run_ml_scraper.sh

Restart=on-failure
RestartSec=15min
