# Rename this file to env.conf -- This is just a template.
#
### IMPORTANT ####
# All paths must be written as the absolute path, and shouldn't 
# contain variable expansion to routes (ex: ${VAR}/dir/path) as 
# systemd does not expand routes.

# --- base directories ---
MAIN_DIR=/path/to/repository
DB_DIR=/path/to/db
FILES_DIR=/path/to/files
LOG_DIR=/path/to/logdir

# --- Email ---
EMAIL_TO=example@email.com
MSMTP_ACCOUNT=msmtp_acconut_name # This must be configured via cli

# --- WIFI interface activity check (as enters powersaving) ---
WIFI_INTERFACE=<interface name>
PING_TARGET=<ip to test the connection (can be local)>
PING_MAX_ATTEMPTS=10
PING_RESTART_DOWN_SECONDS=5
PING_RESTART_UP_SECONDS=15
