# Rename this file to env.conf -- This is just an example configuration 
# file. 
# ### IMPORTANT ####
# All paths must contain the absolute path, and shouldn't contain 
# variable expansion to routes (ex: ${VAR}/dir/path) as systemd
# does not expand routes.

# --- base directories ---
RAM_DIR=/path/to/ram_prices
ML_DIR=/path/to/ml_notebooks
LOG_DIR=/path/to/Files

# --- DB of the notebook scraper (ML) ---
ML_DB_PATH=/path/to/notebooks.db
ML_REPORT_IMG=/path/to/reporte_notebooks.png

# --- RAM prices Log ---
RAM_LOG_FILE=/path/to/prices.log
RAM_RAW_LOG_FILE=/path/to/raw.log

# --- Email ---
EMAIL_TO=example@email.com
MSMTP_ACCOUNT=msmtp_acconut_name # This must be configured via cli

# --- WIFI interface activity check (as enters powersaving) ---
WIFI_INTERFACE=<interface name>
PING_TARGET=<ip to test the connection (can be local)>
PING_MAX_ATTEMPTS=10
PING_RESTART_DOWN_SECONDS=5
PING_RESTART_UP_SECONDS=15
